<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <title>Pub Chat</title>
</head>
<body>
    <div id="InfoBox">
        <span id="InfoMessage">

        </span>
    </div>

    <div id="myInfo">
        <h3>About me</h3>
        User Name: <span id="myUserName"></span> <br/>
        Name: <span id="myName"></span> <br/>
        <button onclick="logout()">logout</button>

    </div>


    <div id="loginRegister">
        <div id="login">
            <h3>Login</h3>
            username: <input type="text" id="login_user_name"> <br>
            password: <input type="password" id="login_password"> <br>
            <button onclick="login()">login</button>
        </div>
        <div id="register">
            <h3>Register</h3>
            name: <input type="text" id="register_name"> <br>
            username: <input type="text" id="register_user_name"> <br>
            password: <input type="password" id="register_password"> <br>
            <button onclick="register()">register</button>
        </div>
    </div>


    <div id="chatBox">
        <div class="a-wrapper">

            <div id="messageHolder" class="a-holder">
                <!-- <div class="a-message">
                    <div class="a-message-name">
                        <span>▣</span>
                        <span> Name</span>
                    </div>
                    <div class="a-message-message">
                        Message Message Message Message Message Message Message Message Message Message Message
                        Message Message Message Message Message Message Message Message Message Message Message
                        Message Message Message Message
                    </div>
                    <div class="a-message-date">
                        Date
                    </div>
                </div> -->
            </div>
            <br>
            <div id="messageInput" class="input-wrapper">
                <input id="messageText" type="text">
                <button onclick="sendMessage()">Send Message</button>
            </div>
        </div>

    </div>

    <script src="/static/script.js"></script>
</body>
</html>