<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <title>Pub Chat</title>
</head>
<body>
    <h1>Pub Chat</h1>


    <div id="InfoBox">
        <span id="InfoMessage">

        </span>
    </div>
    <br>

    <div id="myInfo">
        <h3>About me</h3>
        User Name: <span id="myUserName"></span> <br/>
        Name: <span id="myName"></span> <br/>
        <br/>
        <button onclick="logout()">logout</button>

    </div>


    <div id="loginRegister">
        <div id="login">
            <h3>Login</h3>
            username: <input type="text" id="login_user_name"> <br>
            password: <input type="password" id="login_password"> <br>
            <button onclick="login()">login</button>
        </div>
        <div id="register">
            <h3>Register</h3>
            name: <input type="text" id="register_name"> <br>
            username: <input type="text" id="register_user_name"> <br>
            password: <input type="password" id="register_password"> <br>
            <button onclick="register()">register</button>
        </div>
    </div>

    <script src="/static/script.js"></script>
</body>
</html>